.carousel-caption {
    position:       static;
    z-index:        10;
    padding-top:    20px;
    padding-bottom: 5em;
}

 .carousel-control.left, 
 .carousel-control.right {
  background:           rgba(0,0,0,.01) !important;
  filter:               progid: none !important;
  filter:               none !important;
  background-image:     none;
  outline: 0;
  opacity: 1;
 }

nav > ul > li.active.open > a,
nav > ul > li.open > a  {
    background-color: rgba(0,0,0,.5);
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
    background-color: rgba(0,0,0,.01);
}

#myCarousel div.carousel-heigth { height: 20em; }
#icon_home { width: 11em; }

#container-Proyect {
    overflow-y: visible;
}

#badJS-Proyect {
    height: 30em;
    overflow-y: scroll;
}

div.ambitoJS p,
div.introBadJS p, 
div.same-origin p, 
div.stargetcomun p
{
text-align: justify;
}


/*
#particles-js {
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 0;
  /* background:rgba(0,0,0,.8); */
}

*/

#testXssAuditor {
  margin: 0 3em 1em;
}

#error {
  background-color:#FAFAFA;
}

#chao {
  margin: 30% 3em 1em;
 }
